<!DOCTYPE html>
{%extends 'testapp/base.html'%}
{%block body_block%}
  <div class="jumbotron">
    <h1>Online Exams</h1>
    <ul>
      <h3><li>Rule-1: Daily you can able to write only one exam</li></h3>
      <h3><li>Rule-2: Daily you can able to write only one exam</li></h3>
      <h3><li>Rule-3: Daily you can able to write only one exam</li></h3>
      <h3><li>Rule-4: Daily you can able to write only one exam</li></h3>
      <h3><li>Rule-5: Daily you can able to write only one exam</li></h3>
    </ul>
  </div>

{%endblock%}
